 {% extends "base_generic.html" %} 
 {% block content %}
<!-- Grid -->
<div class="w3-col l8 s12">
        <a class="btn btn-primary" href="create/" role="button">Create Blog Post</a>
    </div>

<div class="w3-row">


    <!-- Blog entries -->
    <div class="w3-col l8 s12">

        {% if latest_question_list %} {% for question in latest_question_list %}
        <div class="w3-card-4 w3-margin w3-white">

            <div class="w3-container">
                <h5>
                    <img src="/w3images/bridge.jpg" alt="Norway" style="width:100%">
                    <span>blichtle</span>
                </h5>
            </div>
            <div class="w3-container">
                <h5>{{ question.title }},
                    <span class="w3-opacity">{{ question.date }}</span>
                </h5>
            </div>

            <div class="w3-container">
                <p>{{ question.body }}</p>
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <p>
                            <button class="w3-button w3-padding-large w3-white w3-border">
                                <b>READ MORE »</b>
                            </button>
                        </p>
                    </div>
                    <div class="w3-col m4 w3-hide-small">
                        <p>
                            <span class="w3-padding-large w3-right">
                                <b>Comments  </b>
                                <span class="w3-badge">2</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <p>No blog posts are available.</p>
        {% endif %}

    </div>

    <!-- Introduction menu -->
    <div class="w3-col l4">
        <!-- About Card TODO Add snippet of profile, fullname and profile picture, maybe email-->
        {% if user.is_authenticated %}
        <!-- <div class="w3-card w3-margin w3-margin-top">
            <img src="/w3images/avatar_g.jpg" style="width:100%">
            <div class="w3-container w3-white">
                <h4>
                    <b>{{ user.get_username }}</b>
                </h4>
                <p>TODO: User information</p>
            </div>
        </div> -->
        {% else %}{% endif %}
        <hr>

        <!-- Popular Posts -->
        <div class="w3-card w3-margin">
            <div class="w3-container w3-padding">
                <h4>Popular Posts</h4>
            </div>
            <ul class="w3-ul w3-hoverable w3-white">
                {% if popular_posts_list %} {% for question in latest_question_list %}
                <li class="w3-padding-16">
                    <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Lorem</span>
                    <br>
                    <span>Sed mattis nunc</span>
                </li>
                {% endfor %} {% else %}
                <li>No Popular Posts. Follow more people to see more!</li>
                {% endif %}
            </ul>
        </div>
        <hr>

        <!-- Labels / tags -->
        <div class="w3-card w3-margin">
            <div class="w3-container w3-padding">
                <h4>Tags</h4>
            </div>
            <div class="w3-container w3-white">
                <p>
                    {% if tags_list %} {% for tag in tag_list %}
                    <span class="w3-tag w3-black w3-margin-bottom">Travel</span>
                    {% endfor %} {% else %}
                    <span class="w3-tag w3-black w3-margin-bottom">No tags.</span>
                    {% endif %}
                </p>
            </div>
        </div>

    </div>

</div>
{% endblock %}